.Header {
  background-color: rgba(34, 34, 34, 0.883);
  height: auto;
  padding: 2vh;
  margin-bottom: 2vh;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.Header-header h1 {
  text-align: center;
}